# Single Cell RNA-sec

In [15]:
import warnings
warnings.filterwarnings("ignore")

import sys
sys.path.append('/Users/dmitrys/anaconda2/lib/python2.7/site-packages')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
%matplotlib inline

In [2]:
! ls

Bioconductor.R            Papers                    filtered_gene_bc_matrices
CP-Group5.pdf             SingleCell.R              genes_tsne.csv
GRCh38                    SingleCellRNA-sec.ipynb   main.txt
JackStrawPlot.png         TSNE.jpg                  singleCell.Robj
MARKERS.csv               column_genes.csv          Описание.docx
PCA_sc3.png               consensus.png
PCElbowPlot.png           consensus2.png

In [8]:
genes = pd.read_csv('GRCh38/genes.tsv', sep='\t', header=None)
barcodes = pd.read_csv('GRCh38/barcodes.tsv', sep='\t', header=None)

In [9]:
genes_tsne = pd.read_csv('MARKERS.csv', sep=' ')

In [11]:
genes.head()

                 0             1
0  ENSG00000243485  RP11-34P13.3
1  ENSG00000237613       FAM138A
2  ENSG00000186092         OR4F5
3  ENSG00000238009  RP11-34P13.7
4  ENSG00000239945  RP11-34P13.8

In [10]:
genes_tsne.head()

              p_val  avg_diff  pct.1  pct.2  cluster  gene
LDHB   0.000000e+00  1.074780  0.946  0.559        0  LDHB
TRAC   0.000000e+00  0.922830  0.949  0.395        0  TRAC
CD3D  1.521852e-296  0.671165  0.912  0.371        0  CD3D
CD3E  4.021670e-258  0.737082  0.883  0.362        0  CD3E
LEF1  9.188565e-254  1.004448  0.554  0.067        0  LEF1

In [7]:
for i in genes_tsne.cluster.unique():
    genes_tsne[genes_tsne.cluster==i].reset_index(drop=True)["gene"]\
        .to_csv("genes_cluster_{}.csv".format(i), index=False, sep='\n')

In [40]:
from scipy.io import mminfo,mmread
mminfo('GRCh38/matrix.mtx')

(33694, 4340, 5727695, 'coordinate', 'integer', 'general')

In [41]:
expression = scipy.io.mmread('GRCh38/matrix.mtx').todense()

In [45]:
expression = pd.DataFrame(expression)

In [47]:
expression.shape, genes.shape, barcodes.shape

((33694, 4340), (33694, 2), (4340, 1))

In [52]:
expression.index = genes[1].values

In [54]:
expression.columns = barcodes[0].values

In [64]:
expression.head(5)

,AAACCTGAGAAGGCCT-1,AAACCTGAGACAGACC-1,AAACCTGAGATAGTCA-1,AAACCTGAGCGCCTCA-1,AAACCTGAGGCATGGT-1,AAACCTGCAAGGTTCT-1,AAACCTGCAGGATTGG-1,AAACCTGCAGGCGATA-1,AAACCTGCATCCCATC-1,AAACCTGCATGAAGTA-1,...,TTTGGTTCACTTAAGC-1,TTTGGTTCAGGACGTA-1,TTTGGTTCATGCCTAA-1,TTTGGTTCATTGGCGC-1,TTTGGTTGTTATCACG-1,TTTGGTTTCGCTAGCG-1,TTTGTCACACTTAACG-1,TTTGTCACAGGTCCAC-1,TTTGTCAGTTAAGACA-1,TTTGTCATCCCAAGAT-1
RP11-34P13.3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FAM138A,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
OR4F5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
RP11-34P13.7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
RP11-34P13.8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
genes_tsne.gene.iloc[0] in expression.index

True

In [71]:
DATA = genes_tsne.join(expression)

In [72]:
DATA.fillna(0, inplace=True)

In [92]:
DATA.head()

,p_val,avg_diff,pct.1,pct.2,cluster,gene,AAACCTGAGAAGGCCT-1,AAACCTGAGACAGACC-1,AAACCTGAGATAGTCA-1,AAACCTGAGCGCCTCA-1,...,TTTGGTTCACTTAAGC-1,TTTGGTTCAGGACGTA-1,TTTGGTTCATGCCTAA-1,TTTGGTTCATTGGCGC-1,TTTGGTTGTTATCACG-1,TTTGGTTTCGCTAGCG-1,TTTGTCACACTTAACG-1,TTTGTCACAGGTCCAC-1,TTTGTCAGTTAAGACA-1,TTTGTCATCCCAAGAT-1
A1BG,2.84692e-11,0.653947,0.719,0.167,5,A1BG,0,0,0,0,...,0,2,0,1,0,0,0,0,0,0
AAK1,7.53945e-74,0.472886,0.544,0.252,0,AAK1,0,0,0,0,...,0,0,1,0,0,1,1,5,0,0
AAMDC,1.59048e-11,0.301346,0.312,0.038,5,AAMDC,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
ABHD15,8.82833e-14,0.58509,0.438,0.024,5,ABHD15,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ABHD17A1,1.6543e-29,0.463202,0.406,0.19,3,ABHD17A,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [95]:
cell = "TTTGGTTCAGGACGTA-1"
grp = DATA[[cell, "cluster"]][DATA[cell]!=0].groupby('cluster').sum()

In [96]:
grp

         TTTGGTTCAGGACGTA-1
cluster
0                     134.0
1                     133.0
2                      25.0
3                      30.0
4                     129.0
5                     101.0