# Single Cell RNA-sec

In [4]:
import warnings
warnings.filterwarnings("ignore")

import sys
sys.path.append('/Users/dmitrys/anaconda2/lib/python2.7/site-packages')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
! ls

CP-Group5.pdf             Untitled.ipynb            Описание.docx
GRCh38                    filtered_gene_bc_matrices
Papers                    main.txt

In [18]:
genes = pd.read_csv('GRCh38/genes.tsv', sep='\t', header=None)
barcodes = pd.read_csv('GRCh38/barcodes.tsv', sep='\t', header=None)
genes_tsne = pd.read_csv('genes_tsne.csv', sep=' ')

In [22]:
genes_tsne.to_csv()

              p_val  avg_diff  pct.1  pct.2  cluster  gene
CCL5   0.000000e+00  2.390982  0.968  0.225        0  CCL5
NKG7  1.015559e-290  1.544944  0.913  0.262        0  NKG7
CST7  7.589822e-278  1.362290  0.822  0.112        0  CST7
GZMK  1.751724e-277  1.967457  0.692  0.066        0  GZMK
IL32  2.753066e-267  1.175535  0.983  0.592        0  IL32

In [29]:
for i in range(10):
    genes_tsne[genes_tsne.cluster==i].reset_index(drop=True)["gene"]\
        .to_csv("genes_cluster_{}.csv".format(i), index=False, sep='\n')

In [8]:
from scipy.io import mminfo,mmread
mminfo('GRCh38/matrix.mtx')

(33694, 4340, 5727695, 'coordinate', 'integer', 'general')

In [30]:
barcodes.shape, genes.shape

((4340, 1), (33694, 2))

In [14]:
genes.head()

                 0             1
0  ENSG00000243485  RP11-34P13.3
1  ENSG00000237613       FAM138A
2  ENSG00000186092         OR4F5
3  ENSG00000238009  RP11-34P13.7
4  ENSG00000239945  RP11-34P13.8

In [13]:
import sys
from Bio import Entrez
# *Always* tell NCBI who you are
Entrez.email = "liza.zez1997@gmail.com"
def retrieve_annotation(id_list):

    """Annotates Entrez Gene IDs using Bio.Entrez, in particular epost (to
    submit the data to NCBI) and esummary to retrieve the information.
    Returns a list of dictionaries with the annotations."""

    request = Entrez.epost("gene",id=",".join(id_list))
    try:
        result = Entrez.read(request)
    except RuntimeError as e:
        #FIXME: How generate NAs instead of causing an error with invalid IDs?
        print "An error occurred while retrieving the annotations."
        print "The error returned was %s" % e
        sys.exit(-1)

    webEnv = result["WebEnv"]
    queryKey = result["QueryKey"]
    data = Entrez.esummary(db="gene", webenv=webEnv, query_key =
            queryKey)
    annotations = Entrez.read(data)

    print "Retrieved %d annotations for %d genes" % (len(annotations),
            len(id_list))

    return annotations

In [35]:
request = Entrez.epost("gene",id=",".join(["ENSG00000186092"]))

In [69]:
#Entrez.read(request)

In [ ]:
def print_data(annotation):
    for gene_data in annotation:
        gene_id = gene_data["Id"]
        gene_symbol = gene_data["NomenclatureSymbol"]
        gene_name = gene_data["Description"]
        print "ID: %s - Gene Symbol: %s - Gene Name: %s" % (gene_id, gene_symbol, gene_name)

In [42]:
A = np.matrix([[1, 2, 4], [2,5,78]])

In [51]:
sum(np.linalg.norm(A, axis=1))

82.768252132523344

In [64]:


a = np.array([1, 2, 3, 4, 6, 8, 9])

low = np.percentile(a, q=2.5)
high = np.percentile(a, q=97.5)

a[(a>low)&(a<high)]